In [ ]:
import os
from dotenv import load_dotenv
import openai
import json
import boto3
import findspark
from pyspark.sql import *
from pyspark import SparkConf, SparkContext
from py4j.java_gateway import java_import
findspark.init()
from pyspark.sql import SparkSession
import csv
import io
from urllib.parse import urlparse

import pandasai as pai
from pandasai_openai import OpenAI
import pandas as pd
import snowflake.connector

In [ ]:
!rm /Users/satyak/iceberg/milvus/class/cache/cache_db_0.12.db

In [ ]:
load_dotenv()
openai_api_key=os.getenv("OPENAI_API_KEY")

llm = OpenAI(api_token=openai_api_key)
pai.config.set({"llm": llm,})

In [ ]:
import pandasai as pai

employees_data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Emma', 'Liam', 'Olivia', 'William'],
    'Department': ['HR', 'Sales', 'IT', 'Marketing', 'Finance']
}

salaries_data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Salary': [5000, 6000, 4500, 7000, 5500]
}

Address = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Address': [{'city':'Hyd','State':'TG'}, {'city':'Hyd','State':'TG'}, {'city':'Hyd','State':'TG'}, {'city':'Hyd','State':'TG'}, {'city':'Chicago','State':'IL'}]
}
employees_df = pai.DataFrame(employees_data)
salaries_df = pai.DataFrame(salaries_data)
Address_df =pai.DataFrame(Address)

In [ ]:
###

In [ ]:

pai.chat("Who gets paid the most?", employees_df, salaries_df,Address_df)

In [ ]:
pai.chat("WWhic State Has More Employees?", employees_df, salaries_df,Address_df)

In [ ]:
pai.chat("Show me all Chicago Employees?", employees_df, salaries_df,Address_df)

In [ ]:
pai.chat("Show me all Chicago Employees?", employees_df,Address_df)